.DeviceMarker.health1 > .DeviceType > svg {
  color: red;
}

.DeviceMarker.health2 > .DeviceType > svg {
  color: darkorange;
}

.DeviceMarker.health3 > .DeviceType > svg {
  color: orange;
}

.DeviceMarker.health4 > .DeviceType > svg {
  color: yellow;
}

.DeviceMarker.health5 > .DeviceType > svg {
  color: lightgreen;
}

.DeviceMarker.health6 > .DeviceType > svg {
  color: darkgreen;
}

.DeviceMarker > .DeviceType > svg {
  font-size: 35px;
  transition: font-size 200ms, color 1s;
  stroke: #646464;
  stroke-width: 10px;
  stroke-dasharray: 2, 2;
}

.DeviceMarker:hover > .DeviceType > svg {
  font-size: 45px;
}

.DeviceMarker:active > .DeviceType > svg {
  font-size: 35px;
  transition: font-size 50ms, color 1s;
}

.DeviceMarker.selected > .DeviceType > svg {
  font-size: 45px;
  filter: drop-shadow(1px 1px 15px white) drop-shadow(-1px -1px 15px white) drop-shadow(1px -1px 15px white)
    drop-shadow(-1px 1px 15px white);
}

.DeviceMarker.selected {
  cursor: grab;
}

.DeviceMarker > .distance {
  white-space: nowrap;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white, -1px -1px 0 white;
}
