.DeviceMarker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 100%;
  border: 1px solid black;
  transition: background 200ms, border-color 150ms;
}

.DeviceMarker:hover, .DeviceMarker.selected {
  border-color: transparent;
  background: none;
}

.DeviceMarker.health1 > .DeviceType > svg {
  color: #e71313;
}

.DeviceMarker.health2 > .DeviceType > svg {
  color: #ff9104;
}

.DeviceMarker.health3 > .DeviceType > svg {
  color: #ffa925;
}

.DeviceMarker.health4 > .DeviceType > svg {
  color: #d9d909;
}

.DeviceMarker.health5 > .DeviceType > svg {
  color: #66cd0c;
}

.DeviceMarker.health6 > .DeviceType > svg {
  color: #08bc08;
}

.DeviceMarker > .DeviceType > svg {
  font-size: 25px;
  transition: font-size 300ms, color 1s;
  stroke: #646464;
  stroke-width: 10px;
  padding-top: 1px;
  stroke-dasharray: 2, 2;
}


.DeviceMarker:not(.distanceShown) > .DeviceType > svg {
  font-size: 30px;
}

.DeviceMarker:hover > .DeviceType > svg {
  font-size: 35px;
  transition: font-size 250ms, color 1s;
}

.DeviceMarker:active > .DeviceType > svg {
  font-size: 30px;
  transition: font-size 50ms, color 1s;
}

.DeviceMarker.selected > .DeviceType > svg {
  font-size: 35px;
  filter: drop-shadow(1px 1px 15px white) drop-shadow(-1px -1px 15px white) drop-shadow(1px -1px 15px white)
    drop-shadow(-1px 1px 15px white);
}

.DeviceMarker.selected {
  cursor: grab;
}

.DeviceMarker > .distance {
  white-space: nowrap;
  font-size: 9px;
}

.DeviceMarker:hover > .distance {
  display: none;
}
