.DeviceMarker {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
}

.DeviceMarker.health1 > .DeviceType > svg {
  color: #e71313;
}

.DeviceMarker.health2 > .DeviceType > svg {
  color: #ff9104;
}

.DeviceMarker.health3 > .DeviceType > svg {
  color: #ffa925;
}

.DeviceMarker.health4 > .DeviceType > svg {
  color: #d9d909;
}

.DeviceMarker.health5 > .DeviceType > svg {
  color: #66cd0c;
}

.DeviceMarker.health6 > .DeviceType > svg {
  color: #08bc08;
}

.DeviceMarker > .DeviceType > svg {
  font-size: 35px;
  transition: font-size 200ms, color 1s;
  stroke: #646464;
  stroke-width: 10px;
  stroke-dasharray: 2, 2;
}

.DeviceMarker:hover > .DeviceType > svg {
  font-size: 45px;
}

.DeviceMarker:active > .DeviceType > svg {
  font-size: 35px;
  transition: font-size 50ms, color 1s;
}

.DeviceMarker.selected > .DeviceType > svg {
  font-size: 45px;
  filter: drop-shadow(1px 1px 15px white) drop-shadow(-1px -1px 15px white) drop-shadow(1px -1px 15px white)
    drop-shadow(-1px 1px 15px white);
}

.DeviceMarker.selected {
  cursor: grab;
}

.DeviceMarker > .distance {
  white-space: nowrap;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white, -1px -1px 0 white;
  justify-self: flex-end;
}
