name: Continuous integration

on:
  pull_request:
    branches: [master]
  issue_comment:
    types: [created]

jobs:
  ci:
    name: Continuous integration
    if: ${{ github.event_name == 'pull_request' || github.event.issue.pull_request && contains(github.event.comment.body, '/ci') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14'

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm install

      - name: Check style
        run: npm run prettier:check

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build
