name: Node.js

on:
  pull_request:
    branches: [master]

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm install

      - name: Check style
        run: npx prettier . --check

      - name: Lint
        run: npx eslint . --ext .js,.jsx

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build
